img {
  max-width: 100%;
}
/*  */
.main-blog-card {
  width: 90%;
}
.category-aside {
  width: 100%;
}
.main-blog {
  width: 70%;
}
.aside-main {
  width: 30%;
}

.w-450 {
  width: 450px;
}
.vh-100 {
  min-height: 100vh;
}
/*admin*/
.section-1 {
  width: 100%;
  padding: 15px;
}
.main-table {
  width: 90%;
  max-width: 700px;
}
.react-btns i {
  font-size: 24px;
  color: #222;
  cursor: pointer;
}
.react-btns a {
  text-decoration: none;
  color: #222;
  cursor: pointer;
}
.react-btns a:hover {
  opacity: 0.8;
}
.react-btns .like:hover {
  color: #0088ff;
}
.react-btns .liked {
  color: #0088ff;
}
.comments .comment span {
  color: #0088ff;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .aside-main {
    display: none;
  }
  .main-blog {
    width: 100%;
  }
  .main-blog-card {
    width: 100%;
  }
}

/* logins */
.login-container {
  min-height: calc(100vh - 160px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

.login-box {
  display: flex;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.login-form {
  padding: 40px;
  width: 350px;
}

.login-form h4 {
  margin-bottom: 20px;
  font-weight: bold;
}
.login-image {
  width: 350px;
  background: url("https://www.pedigree.com.br/cdn-cgi/image/format=auto,q=90/sites/g/files/fnmzdf2401/files/2025-08/BRMARSFBGD-62_MARS_FBIZ%20BRAZIL_Pedigree_PNG_1.png")
    no-repeat center;
  background-size: contain;
  background-color: #f0f0f0;
}
.form-control {
  border-radius: 8px;
}
.btn-primary {
  width: 100%;
  border-radius: 8px;
}

.links {
  margin-top: 15px;
  text-align: center;
}
.links a:hover {
  text-decoration: underline;
  color: blue;
}

.links a {
  text-decoration: none;
  margin: 0 5px;
  color: #555;
}

/* Responsivo */
@media (max-width: 768px) {
  .login-box {
    flex-direction: column;
  }

  .login-image {
    width: 100%;
    height: 200px;
  }
}
